*.bak
*.swp
ctags
tags

selinux_policy/*.pp
selinux_policy/tmp/
selinux_policy/tmp/*

.deps
.libs/
Makefile*
acinclude.m4
aclocal.m4
autom4te.cache/
build/
config*
!config.m4
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
modules/
run-tests.php
*.la
*.lo
